*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

body > video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video {
  position: absolute;
  height: 100%;
  z-index: -10;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.2);
}

h1 {
  color: white;
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 2.5rem;
  text-shadow: 10px 10px 10px black;
}

.button-div {
  position: absolute;
  bottom: 10%;
  left: 10%;
  background-color: rgb(240, 240, 240);
  height: 50px;
  border-radius: 15px;
  background-color: rgb(0, 0, 0, 0.1);
}

button {
  height: 50px;
  width: 75px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(220, 220, 220);
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 10px 10px 10px black;
  background-color: rgb(0, 0, 0, 0.3);
  color: white;
}

button:hover {
  background-color: rgb(255, 255, 255, 0.7);
  color: black;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}